{form addEditCommentForm class=>"ajax form"}
<div class="form-group">    
{input text class=>"form-control"}
</div>
<div class="form-group">
    {input submit class=>"btn btn-danger", value=> isset($presenter->param['commentId']) ? 'Upraviť' : 'Vytvoriť'}
</div>
{/form}