<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">

    <script src="{$basePath}/js/jquery.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/jquery.tokeninput.js"></script>
    <script src="{$basePath}/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="{$basePath}/js/flot/jquery.flot.js"></script>
    <script src="{$basePath}/js/flot/jquery.flot.pie.js"></script>
    <script src="{$basePath}/js/flot/jquery.flot.stack.js"></script>
    <script src="{$basePath}/js/flot/jquery.flot.tooltip.js"></script>
</head>

<body>
    <div class="wrapper">
    
       <div class="container">     
                {if $user->isLoggedIn()}
					<div class="col-md-3">
						<a n:href=":Main:Sign:out">Sign Out</a>
						<ul id="menu">
							<li><a n:href=":Main:Subject:showAll">Všetky Predmety</a></li>
							<li><a n:href=":Main:Subject:showMy">Moje predmety</a></li>
						</ul>
					</div>
					<div id="obsah">
						{include #body}
					</div>
				{else}
					{include Sign/in.latte}
                {/if}
                
            <script>
                $(function () {
                    $.nette.init();
                });
            </script>
        </div>
    </div>
    
</body>
</html>
