<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="screen" href="{$basePath}/css/token-input.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/visualpaginator.css" type="text/css">


    <script src="{$basePath}/js/jquery.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/jquery.tokeninput.js"></script>
    <script src="{$basePath}/js/flot/jquery.flot.js"></script>
    <script src="{$basePath}/js/flot/jquery.flot.pie.js"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    <ul id="menu">
        <li><a n:href=":Main:Subject:showAll">Všetky Predmety</a></li>
        <li><a n:href=":Main:Subject:showMy">Moje predmety</a></li>
    </ul>

    {include #body}
    <a n:href=":Main:Sign:out">Sign Out</a>
    <script>
        $(function () {
            $.nette.init();
        });
    </script>
</body>
</html>
