{form filterSubjectsForm class=>'ajax form-group form-inline'}
    {label gradeId/}:   {input gradeId class=>"form-control"}
{/form}

<script>
    $('#frmfilterSubjectsForm-gradeId').on('change', function(){
        $(this).closest("form").submit()
    })
</script>