{block content}
Pridať nový predmet

{form addEditSubjectForm}
    {label school_year_id/}{input school_year_id}<br>
    {label name/}{input name}<br>
    {input submit value=>'Pridať predmet'}
{/form}