{block content}
Pridať nový predmet

{form addEditProjectForm}
    {label name/}{input name}<br>
    {label description/}{input description}<br>
    {label max_solver_count/}{input max_solver_count}<br>
    {label max_points/}{input max_points}<br>
    {label solution_from/}{input solution_from}<br>
    {label solution_to/}{input solution_to}<br>
    {input submit value=> isset($presenter->param['id']) ? 'Upraviť' : 'Vytvoriť'}
{/form}